{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navfooter.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
</head>

<body>
    
    <!-- Navigation -->
    <div class="header">
        <nav class="navbar navbar-expand-sm customNavbar fixed-top" style="background-color: #EBEBEB">
            <a class="navbar-brand" style="color: #C60036">
                <p>ToysRent</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item navbarText">
                        <a class="nav-link">LOGIN</a>
                    </li>
                    <li class="nav-item navbarText">
                        <a class="nav-link">ITEM</a>
                    </li>
                    <li class="nav-item navbarText">
                        <a class="nav-link">LEVEL</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
   
    <div class="form_item">
        <table class="table">
            <thead>
                <th>ID ITEM</th>
                <th>Daftar Barang</th>
                <th>Harga</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
    <!-- Footer -->
    <div class="footer customFooter">
        <footer class="page-footer font-small unique-color-dark customFooter">
            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
    
                <!-- Grid row -->
                <div class="row mt-3">
    
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
                        <!-- Content -->
                        <!-- <div class="container">
                    <a class="navbar-brand1">
                        <img src="logo.png" alt="Logo" style="width:150px;">
                    </a>
                </div> -->
                        <!-- <br><p class="footerText">"Make the world a better place, for you, for me, and the entire human race"<br><br>- Michael Jackson</p> -->
    
                        <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">ABOUT US</h6>
                        <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
    
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">RECENT POSTS</h6>
                        <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
                        <p class="footerText">
                            <a href="#">PROGRAMS</a>
                        </p>
                        <p class="footerText">
                            GALLERY
                        </p>
                        <p class="footerText">
                            VIDEOS
                        </p>
                        <p class="footerText">
                            <a href="#">NEWS</a>
                        </p>
    
                    </div>
    
                </div>
                <!-- Grid row -->
    
            </div>
            <!-- Footer Links -->
    
        </footer>
        <!-- Footer -->
    </div>
    <div class="flex-footer1">
        <div class="footer1">
            <p>Copyright © 2018 All Rights Reserved</p>
        </div>
    </div>
    
</body>
</html>