{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navfooter.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Daftar Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Nama Item</th>
									<th class="cell100 column2">Kategori</th>
									<th class="cell100 column3">Action</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">Butterfly</td>
									<td class="cell100 column2">Boxing</td>
									<td class="cell100 column3">A</td>
                                </tr>

								<tr class="row100 body">
									<td class="cell100 column1">Moth</td>
									<td class="cell100 column2">Boxing</td>
									<td class="cell100 column3">B</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Mind</td>
									<td class="cell100 column2">Yoga</td>
									<td class="cell100 column3">C</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Crit</td>
									<td class="cell100 column2">Gym</td>
									<td class="cell100 column3">A</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Wheel</td>
									<td class="cell100 column2">Yoga</td>
									<td class="cell100 column3">B</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Flow</td>
									<td class="cell100 column2">Yoga</td>
									<td class="cell100 column3">C</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Dance</td>
									<td class="cell100 column2">Dance</td>
									<td class="cell100 column3">A</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Cardio</td>
									<td class="cell100 column2">Gym</td>
									<td class="cell100 column3">B</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Pilates</td>
									<td class="cell100 column2">Gym</td>
									<td class="cell100 column3">C</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Spine</td>
									<td class="cell100 column2">Yoga</td>
									<td class="cell100 column3">A</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Yoga</td>
									<td class="cell100 column2">Yoga</td>
									<td class="cell100 column3">B</td>
								</tr>

								<tr class="row100 body">
									<td class="cell100 column1">Virtual</td>
									<td class="cell100 column2">Gym</td>
									<td class="cell100 column3">C</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>
