{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navfooter.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Barang</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
</head>

<body>
    {% include 'nav.html' %}
    <div class="form_pesanan">
        <table class="table">
            <thead>
                <th>ID Barang</th>
                <th>Nama Item</th>
                <th>Warna</th>
				<th>Url Foto</th>
                <th>Kondisi</th>
				<th>Lama Penggunaan</th>
				<th>Pemilik</th>
                <th>Lihat Detail</th>
                <th>Update/Delete</th>
            </thead>
            <tbody>
				{%for i in barang%}
				<tr>
				<td>{{i.0}}</td>
				<td>{{i.1}}</td>
				<td>{{i.2}}</td>
				<td>{{i.3}}</td>
				<td>{{i.4}}</td>
				<td>{{i.5}}</td>
				<td>{{i.6}}</td>
				<td>
					<a href="/barang/detail_barang/" class="btn btn-light btn-sm table-button" role="button">Lihat Detail</a><br>
				</td>
				<td class="align-middle">
					<a href="/barang/update_barang/" class="btn btn-light btn-sm table-button" role="button">Update</a><br>
					<button class="btn btn-light btn-sm btn-modal table-button" id="{{ level.0 }}" data-toggle="modal"
							data-target="#exampleModal"
							onclick="deleteClicked(this.id)">
						Delete
					</button>
				</td>
				</tr>
				{%endfor%}
				
			
			</tbody>
        </table>
    </div>
    
    <!-- Footer -->
    <div class="footer customFooter">
        <footer class="page-footer font-small unique-color-dark customFooter">
            <!-- Footer Links -->
            <div class="container text-center text-md-left mt-5">
    
                <!-- Grid row -->
                <div class="row mt-3">
    
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
                        <!-- Content -->
                        <!-- <div class="container">
                    <a class="navbar-brand1">
                        <img src="logo.png" alt="Logo" style="width:150px;">
                    </a>
                </div> -->
                        <!-- <br><p class="footerText">"Make the world a better place, for you, for me, and the entire human race"<br><br>- Michael Jackson</p> -->
    
                        <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">ABOUT US</h6>
                        <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
    
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
                        <!-- Links -->
                        <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">RECENT POSTS</h6>
                        <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
                        <p class="footerText">
                            <a href="#">PROGRAMS</a>
                        </p>
                        <p class="footerText">
                            GALLERY
                        </p>
                        <p class="footerText">
                            VIDEOS
                        </p>
                        <p class="footerText">
                            <a href="#">NEWS</a>
                        </p>
    
                    </div>
    
                </div>
                <!-- Grid row -->
    
            </div>
            <!-- Footer Links -->
    
        </footer>
        <!-- Footer -->
    </div>
    <div class="flex-footer1">
        <div class="footer1">
            <p>Copyright © 2018 All Rights Reserved</p>
        </div>
    </div>
    
</body>
</html>