{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include "base.html" %}
    <title>Pesanan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
</head>

<body>
    
    {% include "nav.html" %}
   
    <div class="psn">
        <h2>Daftar Pesanan</h2>
    </div>
    <div class="form_pesanan">
        <table class="table">
            <thead>
                <th>ID Pesanan</th>
                <th>Daftar Barang</th>
                <th>Harga</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for pesanan in requests %}
                <tr>
                    <td class="align-middle">{{ pesanan.0 }}</td>
                    <td class="align-middle">
                        <ul>
                            {% for barang in pesanan.7 %}
                                <li>{{ barang.0 }} - {{ barang.1 }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="align-middle">Rp{{ pesanan.3 }}</td>
                    <td class="align-middle">{{ pesanan.6 }}</td>
                    <td class="align-middle">
                        <a href="/update_pesanan" class="btn btn-light btn-sm table-button" role="button">Update Pesanan</a><br>
                        <button class="btn btn-light btn-sm btn-modal table-button" id="{{ pesanan.0 }}" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="deleteClicked(this.id)">
                            Delete Pesanan
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hapus Pesanan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Apakah Anda yakin ingin menghapus pesanan?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a href="/daftar_pesanan" class="btn btn-light btn-sm modal-delete" role="button">Delete</a><br>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}
    
</body>
</html>