{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'base.html' %}

    <title>Pesanan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
</head>

<body>
    
    {% include 'nav.html' %}

    <section>
        <div class="form_pesanan">
            <h2>Buat Pesanan</h2>
            <br><br>
            <form action="/pesanan/" id="form", method="POST">
                {% csrf_token %}
                {% for form in forms %}
                    {{ form }}
                {% endfor %}
                <br><br>
                <button class="btn btn-danger btn-sm btn-modal" data-toggle="modal"
                        data-target="#exampleModal">
                    Submit
                </button>
            </form>
        </div>
    </section>

    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pesanan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Harga total pesanan: </p>
                    <br><p>Apakah Anda ingin melanjutkan pesanan?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                    <a href="/buat_pengiriman" class="btn btn-light btn-sm modal-delete" role="button">Lanjutkan</a><br>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    
</body>
</html>