{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'base.html' %}

    <title>Pesanan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pesanan.css' %}"/>
</head>

<body>
    
    {% include 'nav.html' %}
    
    <section>
        <div class="form_pesanan">
            <h2>Update Pesanan</h2>
            <br><br>
            <form action="/update/" id="form", method="POST">
                {% csrf_token %}
                {% for form in forms %}
                    {{ form }}
                {% endfor %}
                <br><br>
                <a href="/pesanan" class="btn btn-danger" role="button">Update</a><br>
            </form>
        </div>
    </section>

    {% include 'footer.html' %}
    
</body>
</html>