{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'base.html' %}

    <title>Pengiriman</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pengiriman.css' %}"/>
</head>

<body>
    
    {% include 'nav.html' %}
    <div class="form_pengiriman">
            <h2>Daftar Pengiriman</h2>
            <br><br>
            <table class="table">
                <thead>
                    <th>Barang pesanan</th>
                    <th>Alamat tujuan</th>
                    <th>Tanggal pengiriman</th>
                    <th>Metode</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    {% include 'footer.html' %}
    
</body>
</html>