{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'base.html' %}

    <title>Pengiriman</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pengiriman.css' %}"/>
</head>

<body>
    
    {% include 'nav.html' %}
    <section>
            <div class="form_pengiriman">
                <h2>Update Pengiriman</h2>
                <br><br>
                <form id="form", method="POST">
                    {% csrf_token %}
                    {{ fill_form2 }}
                    <br><br>
                    <button type="submit", class="btn btn-danger">Update</button>
                </form>
            </div>
        </section>    
    {% include 'footer.html' %}
    
</body>
</html>