{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include "base.html" %}
    <title>Level</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/levell.css' %}"/>
</head>

<body>
    
    {% include "nav.html" %}
   
    <div class="lvl">
        <h2>Daftar Level</h2>
    </div>
    <div class="form_level">
        <table class="table">
            <thead>
                <th>No</th>
                <th>Nama Level</th>
                <th>Deskripsi</th>
                <th>Minimum Poin</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for level in levels %}
                <tr>
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle">{{ level.0 }}</td>
                    <td class="align-middle">{{ level.2 }}</td>
                    <td class="align-middle">{{ level.1 }}</td>
                    <td class="align-middle">
                        <a href="/update_level" class="btn btn-light btn-sm table-button" role="button">Update</a><br>
                        <button class="btn btn-light btn-sm btn-modal table-button" id="{{ level.0 }}" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="deleteClicked(this.id)">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hapus Level</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Apakah Anda yakin ingin menghapus level?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a href="/daftar_level" class="btn btn-light btn-sm modal-delete" role="button">Delete</a><br>
                </div>
            </div>
        </div>
    </div>
    
    {% include "footer.html" %}

</body>
</html>