{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
  {% include "base.html" %}
    <title>Level</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/level.css' %}"/>
</head>

<body>
    
  {% include "nav.html" %}
   
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Hapus Level</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Apakah Anda yakin ingin menghapus level?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Ya</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
            </div>
          </div>
        </div>
      </div>

    {% include "footer.html" %}
    
</body>
</html>