{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include "base.html" %}
    <title>Level</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/levell.css' %}"/>
</head>

<body>
    
    {% include "nav.html" %}

    <section>
        <div class="form_level">
            <h2>Tambah Level</h2>
            <br><br>
            <form action="/level/", id="form", method="POST">
                {% csrf_token %}
                {% for form in forms %}
                    {{ form }}
                {% endfor %}
                <br><br>
                <a href="/daftar_level" class="btn btn-danger" role="button">Submit</a><br>
            </form>
        </div>
    </section>

    {% include "footer.html" %}
    
</body>
</html>