<!-- Footer -->
<div class="footer customFooter">
    <footer class="page-footer font-small unique-color-dark customFooter">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <!-- <div class="container">
                <a class="navbar-brand1">
                    <img src="logo.png" alt="Logo" style="width:150px;">
                </a>
            </div> -->
                    <!-- <br><p class="footerText">"Make the world a better place, for you, for me, and the entire human race"<br><br>- Michael Jackson</p> -->

                    <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">ABOUT US</h6>
                    <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
                    <p>
                        ToysRent adalah situs pemesanan mainan yang memudahkan 
                        para pengguna untuk memesan segala jenis mainan. 
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold titleText" style="color: #EBEBEB;">RECENT POSTS</h6>
                    <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #EBEBEB">
                    <p class="footerText">
                        BARANG
                    </p>
                    <p class="footerText">
                        PESANAN
                    </p>
                    <p class="footerText">
                        PENGIRIMAN
                    </p>
                    <p class="footerText">
                        LEVEL
                    </p>

                </div>

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->
</div>
<div class="flex-footer1">
    <div class="footer1">
        <p>Copyright © 2019 All Rights Reserved</p>
    </div>
</div>