<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% include "base.html" %}

        <title>Toys Rent</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}"/>
    </head>
    <body>

        <div class="background">
            {% include 'nav.html' %}
            <div class="col-md-6">
                <div class="landing">
                    <h4 id = "sapaan"></h4>
                    <!-- <h1 id="header">WELCOME TO <br> TOYSRENT WEBSITE</h1> -->
                    <h1 id="header">WELCOME TO <br> </h1>
                    <h1 id="toysrent">TOYSRENT</h1>
                    <h1 id="header">WEBSITE</h1>
                    <h5 id="header2">Your satisfaction is number one.</h5>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://i.imgur.com/vDHe0Oh.png" id="foto">
            </div>
        </div>
        <div class="news">
            <h2 id="newsHeader">We've got what you need!</h2>
            <hr id="newshr">
            <div class="news-item-container">
                <div class="row justify-content-center m-0 toys">
                    <h4>ToysRent menyewakan segala jenis item yang Anda butuhkan.</h4>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        
            

        {% include 'footer.html' %}

    </body>
</html>

