{% load static %}
<!-- Navigation -->
<div class="header">
    <nav class="navbar navbar-expand-sm customNavbar fixed-top bg-transparent" style="background-color: #EBEBEB">
        <a class="navbar-brand" style="color: #C60036">
            <p>ToysRent</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ITEM
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../item">Buat Item</a>
                        <a class="dropdown-item" href="../daftar_item">Daftar Item</a>
                    </div>
                </li>
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BARANG
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../barang/create_barang">Buat Barang</a>
                        <a class="dropdown-item" href="../barang/daftar_barang">Daftar Barang</a>
                    </div>
                </li>
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PESANAN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../pesanan">Buat Pesanan</a>
                        <a class="dropdown-item" href="../daftar_pesanan">Daftar Pesanan</a>
                    </div>
                </li>
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LEVEL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../tambah_level">Buat Level</a>
                        <a class="dropdown-item" href="../daftar_level">Daftar Level</a>
                    </div>
                </li>
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PENGIRIMAN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../buat_pengiriman">Buat Pengiriman</a>
                        <a class="dropdown-item" href="../daftar_pengiriman">Daftar Pengiriman</a>
                    </div>
                </li>
                <li class="nav-item navbarText dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REVIEW
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdownNav">
                        <a class="dropdown-item" href="../buat_review">Buat Review</a>
                        <a class="dropdown-item" href="../daftar_review">Daftar Review</a>
                    </div>
                </li>
                <li class="nav-item navbarText">
                    <a class="nav-link" id = "addClass" href="../chat">CHAT</a>
                </li>
            </ul>
        </div>
        <a href = "../login"><button type="button" class="btn btn-danger" id="loginbtn">LOGIN</button></a>
    </nav>
</div>
<script>
    $(function(){
        $("#addClass").click(function () {
            $('#qnimate').addClass('popup-box-on');
        });
        $("#removeClass").click(function () {
            $('#qnimate').removeClass('popup-box-on');
        });
    })
</script>
