html, body {
    font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif !important;
}

.background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.landing {
    
    padding: 5rem;
    width: 100vw;
    max-height: 1000px;
    overflow-wrap: break-word;
}

.news {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.news-image {
    max-width: 100%;
    object-fit: contain;
}

.news-text {
    margin: 2rem;
}

.news-item {
    margin: 2rem;
    max-width: 15rem;
    border: 1px solid #e3e6ea;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-word;
    overflow-wrap: break-word;
}


#newshr {
    border-top: 3px solid #EBEBEB;
    width: 95%;
}

#header {
    color: #C60036;
    font-weight: bold;
    font-size: 6vw;
}

#toysrent {
    color: #000000;
    font-weight: bold;
    font-size: 6vw;
}

#header2 {
    color: #C60036;
    font-weight: bold;
    font-size: 2vw;
}

#sapaan {
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

#newsHeader {
    color: #C60036;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .landing {
        margin-top: 2rem;
    }

    #header {
        font-size: 2rem;
    }

    #header2 {
        font-size: 1rem;
    }

    #sapaan{
        font-size: 1rem;
    }

    #toysrent {
        font-size: 2rem;
    }
}

.toys h4 {
    color: #696969;
}

#foto {
    width: 100%;
    height: 100%;
}