html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.topnav {
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0;
}

.navbar-brand, .nav-item {
    float: right;
    display: block;
    color: #00A6FF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.flex-footer {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #87BFBA;
    margin-top: 90px;
}

.customNavbar {
    background-color: #93B7BE;
    position: fixed;
}

.navbar-brand p {
    color: #C60036;
    font-size: 150%;
}

.navbar-custom,
.navbar-nav,
.nav-link {
    color: #FCFCFC;
    font-weight: 600;
}

.navbar-custom,
.nav-item:active,
.nav-link,
.navbar-custom,
.nav-item:hover,
.nav-link {
    color: #C60036;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.navbar-brand1 {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-top: 30px;
}


.flex-footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EBEBEB;
}

.footer1 p {
    color: #000000;
    margin-top: 18px;
    padding-left: 500px;
} 

.titleText {
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
}

.bodyText {
    color: #000000;
}

.footerText, p, a, a:hover {
    color: #EBEBEB;
}

.navbarText a:hover {
    color: #696969;
}

.navbarText {
    font-weight: bold;
    color: #696969;
}

.container {
    display: flex; /* or inline-flex */
}

.maps {
    display: flex;
    justify-content: center;
}

.customFooter {
    background-color: #C60036;
    /* margin-top: 70px; */
}

.maps {
    margin-top: 12px;
}

.img {
    height: 25px;
    width: 25px;
}

.img1 {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.img2 {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

#loginbtn {
    margin-right: 2%;
}

#navbarDropdown {
    color: #696969;
}

#dropdownNav {
    background-color: #C60036 !important;
    color: #EBEBEB;
}