html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #EBEBEB;
    height: 100%;
    width: 100%;
}

.form_pengiriman {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.form_pengiriman h2 {
    color: #000000;
}