<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/chatstyle.css' %}"/>
        {% include "base.html" %}

    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container">
        <h3 class=" text-center">Chat</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                    <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                        <span class="input-group-addon">
                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> 
                    </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Angelina Condro <span class="chat_date">May 5</span></h5>
                        <p>Barangnya sudah diantar ya.</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Anastasia Greta Elena <span class="chat_date">May 4</span></h5>
                        <p>Barangnya ready nih ka</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Hermawan Wibisana Arifin <span class="chat_date">May 4</span></h5>
                        <p>oke</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Shania Nabillah <span class="chat_date">May 2</span></h5>
                        <p>Siang!</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Toko ABC<span class="chat_date">May 1</span></h5>
                        <p>Barang akan dikirim dalam waktu 5 hari</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Iphone shop <span class="chat_date">Apr 30</span></h5>
                        <p>Iphonenya asli kok</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Samsung Shop<span class="chat_date">Apr 30</span></h5>
                        <p>Samsung S10 ready ka</p>
                        </div>
                    </div>
                    </div>
                    <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                        <h5>Shopping Lovers<span class="chat_date">Apr 30</span></h5>
                        <p>Barang sudah diantar dari pukul 1 siang. Silahkan di cek kembali.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>Halo, barang apa yang ingin kamu pesan?</p>
                        <span class="time_date"> 11:01 AM    |    Today</span></div>
                    </div>
                    </div>
                    <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>Mibandnya ready gak kak?</p>
                        <span class="time_date"> 11:05 AM    |    Today</span> </div>
                    </div>
                    <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>Ready stock, silahkan langsung dipesan</p>
                        <span class="time_date"> 11:10 AM    |    Today</span></div>
                    </div>
                    </div>
                    <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>Sudah saya pesan ya kakk</p>
                        <span class="time_date"> 11:13 AM    |    Today</span> </div>
                    </div>
                    <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>Barangnya sudah diantar ya.</p>
                        <span class="time_date"> 11:30 AM    |    Today</span></div>
                    </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>