<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleanggota.css' %}"/>
        {% include "base.html" %}

    </head>
    <body>
        {% include 'nav.html' %}
        <div class="popup-box chat-popup" id="qnimate">
            <div class="popup-head">
            <div class="popup-head-left pull-left"><img src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER7-512.png" alt="chatting">Admin</div>
                    <div class="popup-head-right pull-right">
                    <div class="btn-group">
                        <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-cog"></i> </button>
                        <ul role="menu" class="dropdown-menu pull-right">
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Block</a></li>
                        <li><a href="#">Clear Chat</a></li>
                        <li><a href="#">Email Chat</a></li>
                        </ul>
                </div>
                    
                    <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
                    </div>
            </div>
            <div class="popup-messages">
                <div class="direct-chat-messages">
                    
                    
                    <div class="chat-box-single-line">
                                <abbr class="timestamp">May 5th, 2019</abbr>
                    </div>
                    
                    
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg doted-border">
                        <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left"> Admin</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img alt="message user image" src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER7-512.png" class="direct-chat-img"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                        What can I do to help you?
                        </div>
                        <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">1.26 PM</span>
                        </div>
                        <div class="direct-chat-info clearfix">
                        
                            
                        </span>
                            <img alt="chatting" src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER7-512.png" class="direct-chat-img big-round">
                        <span class="direct-chat-reply-name">Me</span>
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                    
                    
                    <div class="chat-box-single-line">
                        <abbr class="timestamp">May 6th 2019</abbr>
                    </div>
            
                    
                    
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg doted-border">
                        <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Admin</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img alt="chatting" src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER7-512.png" class="direct-chat-img"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                        Hello, what can I do to help you?
                        </div>
                        <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                        </div>
                        <div class="direct-chat-info clearfix">
                            <img alt="chatting" src="https://cdn2.iconfinder.com/data/icons/users-6/100/USER7-512.png" class="direct-chat-img big-round">
                        <span class="direct-chat-reply-name">Me</span>
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                </div>
            </div>
            <div class="popup-messages-footer">
                <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
                <div class="btn-footer">
                <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
                <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
                <button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i> </button>
                <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
            </div>
        </div>
    </body>
    
</html>
