{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'base.html' %}

    <title>Review</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}"/>
</head>

<body>
    
    {% include 'nav.html' %}

    <div class="form_review">
            <h2>Daftar Review</h2>
            <br><br>
            <table class="table">
                <thead>
                    <th>Id pengiriman</th>
                    <th>Barang</th>
                    <th>Review</th>
                    <th>Tanggal review</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    {% include 'footer.html' %}
    
</body>
</html>