<!--Navigation-->
<nav class="sticky-top navbar navbar-expand-sm bg-light navbar-light topnav"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Daftar Barang</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Pesan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Daftar Pesanan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Tambah Level</a>
            </li>
        </ul>
    </div>
</nav>